title Fuck u
meta(charset='utf-8')  
form(method='POST')
  label Enter first name
  input(type='text' name='fname')
  br
  br
  label Enter last name
  input(type='text' name='lname')
  br
  br
  label Create username
  input(type='text' name='createUser')
  br
  br
  label Enter email
  input(type='text' name='email')
  br
  br
  label Create password:
  input(type='text' name='createPass')
  br
  br
  input(type='submit' name='subP')
