title Fuck u
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='public/script.js')
form(method='POST')
  label Enter first name
  input(type='text' name='fname')
  br
  br
  label Enter last name
  input(type='text' name='lname')
  br
  br
  label Create username
  input(type='text' name='createUser')
  br
  br
  label Enter email
  input(type='text' name='email')
  br
  br
  input#sub(type='submit' name='sub')
  br
  br
  br
form(method='POST')
  label Create password:
  input(type='text' name='createPass')
  br
  br
  input(type='submit' name='subP')
