head
  title
h1 Title is work in progress:
form(method='POST')
  label Username:
  input(type='text' name='user')
  br
  label Password::
  input(type='text' name='pass')
  br
  br
  input(type='submit' name='sub')
  br
a(href='/createUser') Prompt to create username and password
