<html>
	<head>
		<title></title>
	</head>
	<body>
	<h1>Ok it works</h1>
	<form action='test.html'>
	<label>First:</label>
		<input type ='text' name= 'firstnme' />
		<br>
		<label>Last:</label>
		<input type ='text' name= 'lastnme' />
		<br>
		<label>Address</label>
		<input type ='text' name= 'address' />
		<br>
		<label>Phone</label>
		<input type ='text' name= 'phone' />
		
		<br>
		<input type ='submit' name= 'sub' />
	</form>
	
	
	<a href="test.html">otherPage</a>
	<!-- <script src="preload.js"></script>  -->
	 <!-- <script src="renderer.js"></script> -->
	</body>
</html>