ul
	li #{user.fname}
	li #{user.lname}
	li #{user.username}
<form action="" method ="POST">
    <input type="hidden" name="delete" value="id of user goes here"/>
    <input type="submit" name="submit" value="delete user"/>
</form>